@charset "UTF-8";

* {
    font-family: Arial, Helvetica, sans-serif;
   
}

body{
    background-image: linear-gradient(to right,#09c184, #0a8967);
}

main{
    background-color: white;
    border-radius: 10px; /*Bordas arredondadas*/
    box-shadow: 5px 5px 15px #0c5149cb; /*Sombras*/
    width: 600px; /*Largura*/
    padding: 10px; /*Espaço para as letras*/
    margin: auto; /*Centralizar texto*/
}
h1{
    color:#0d192b ; /*Cor da letra*/
    text-align: center;
    text-shadow: 2px 2px 3px #0d192b85;
}

h2{
    color: #0c5149;
}

p{
    text-align: justify; /*Parágrafo justificado*/
}


